
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form>
    <input type="text" placeholder="User Name" />
    <input type="password" placeholder="Password" />
    <input type="submit" value="Login" />
</form>